{% extends "meetLink/base.html" %}
{% load static %}

{% block contenido %}

{% comment %} NAVBAR {% endcomment %}

<nav id="navbar" class="sidebar d-flex flex-column flex-shrink-0 position-fixed">
    <button class="toggle-btn" onclick="toggleSidebar()">
        <i class="fas fa-chevron-left"></i>
    </button>

    <div class="d-md-none">
        <button type="button" class="btn-close btn-close-white" onclick="toggleMenu()" aria-label="Cerrar">×</button>
    </div>

    <div id="contenido-navbar" class="d-flex flex-column">
        <div class="p-4" style="text-align: center; padding-bottom: 1rem">
            <h4 class="logo-text fw-bold mb-0">meetL!nk</h4>
        </div>

        <div class="user-info text-center mb-4">
            <img src="{{ user.profile.image.url|default:'/media/logo2.png' }}" alt="Foto de perfil" class="rounded-circle">
            <h5 class="text-white mb-0 hide-on-collapse">{{ user.username }}</h5>
        </div>

        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="sidebar-link text-decoration-none" href="{% url 'index' %}">
                    <i class="fas fa-home me-2"></i>
                    <span class="hide-on-collapse">INICIO</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="sidebar-link active text-decoration-none" href="{% url 'contactos' %}">
                    <i class="fas fa-address-book me-2"></i>
                    <span class="hide-on-collapse">CONTACTOS</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="sidebar-link text-decoration-none" href="{% url 'eventos' %}">
                    <i class="fas fa-calendar-alt me-2"></i>
                    <span class="hide-on-collapse">EVENTOS</span>
                </a>
            </li>
        </ul>

        <form action="{% url 'logout' %}" method="post" class="mt-auto text-center">
            {% csrf_token %}
            <button type="submit" class="btn logout-btn mt-4 hide-on-collapse">Log Out</button>
        </form>

        <div class="navbar-footer">
            MNSF - 2025
        </div>
    </div>
</nav>

<!-- MAIN CONTENT -->
<main class="main-content">
   
</main>

<script>
    function toggleSidebar() {
        const sidebar = document.querySelector('.sidebar');
        sidebar.classList.toggle('collapsed');
    }
</script>

{% endblock %}

