{% extends "meetLink/base.html" %}

{% block contenido %}

<div id="form" class="d-flex align-items-center justify-content-center">
    <div id="form-card" class="p-5 bg-white rounded shadow">
        <div class="content">
            <h2 class="mb-4 text-center">Crear Evento</h2>

            {% if messages %}
                <div>
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}

            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-success w-100" alt="Guardar evento">Guardar Evento</button>
            </form>

            <p class="mt-3 text-center">
                <a href="{% url 'eventos' %}" alt="Volver a eventos">← Volver a Eventos</a>
            </p>
        </div>
    </div>
</div>

{% endblock %}
